export const token = ""
export const clientId = ""
export const valapitoken = ""
export const apexapitoken = ""
export const prefix = ""
export const tursoUrl = ""
export const tursoSecret = ""
export const redisUrl = ""
export const valImgCdnBaseUrl = ""
export const apexImgCdnBaseUrl = ""
export const discordWebhook = "